
/*body{
    background-color:#190B07;
    /*background-color: grey;*/
    /*background-image: url("Untitled.jpg");*/
    /*color:  #A52A2A;
}*/

form{
  margin: 50px;
  padding: 20px ;
}

h1{
  font-family: "Lucida Console";
}

.btn-xlg{
    padding: 58px 28px;
    font-size: 27px; 
}


#thing{
    background-color:#190B07;
    color:  #A52A2A;
}

#bg{
    background-color:#190B07;
    color:  #A52A2A;
}

/* centers navbar content */
    .nav {
        width: 100%;
        text-align: center;

    }
    .nav > li {
        float: none;
        display: inline-block;
}

/* game.html */
    div.box {
        position: fixed;
    }

.block{
  margin: 25px 350px;
  background-color: rgba(0,0,0,0.3);
}

.block2{
  padding: 150px;
  background-color: rgba(0,0,0,0.3);
}

/* table for scoreboard.html */
    h1 {
    font-size:20px;
    text-align: center;
    color: yellow;
    } 
    th {
    font-size:larger;
    display:inline-block;
    text-align: center;
    color: blue
    } 
    tr {
    font-size:larger;
    display:inline-block;
    text-align: center;
    color: blue
    }
    div.centered{
      margin: auto;
    }