.media{
	height: 50px;
	width: 50px;
}


/*modal making
.lightbox-outer{
  position: absolute;
  width: 100%
  height: 100%
  left: 0;
  top: 0;
  background-color: r
}

.lightbox-inner{
	text-align: center;

}

img{
	width: 300px;
}
*/